body{
  text-align: center;
  background-color: black;
}

h1{
  color: yellow;
}

h2{
  color: white;
  font-size: 55px;
}

button{
  color: rgb(240, 235, 230);
  background-color: darkgreen;
  font-size: 50px;
  width: 220px;
  margin: 11px;
}
